*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}

.awal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.714);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: aqua;
    text-shadow: 0 0 10px aqua;
    transform: scale(1.1);
}
span{
    color: aqua;
}

.navigasi a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navigasi a:hover,
.navigasi a.active{
    color: aqua;
    border-bottom: 2px solid aqua;
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: aqua;
    box-shadow: 0 0 10px aqua;
    color: white;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 30px 12% 0;
}

.isihome{
    max-width: 800px;
}
.isihome h3{
    font-size: 42px;
}
.isihome h1{
    font-size: 62px;
    line-height: 1.2;
}
.isihome p{
    font-size: 18px;
    margin: 25px 0 30px;
}

.boxtombol{
    width: 345px;
    display: flex;
    gap: 2em;
}

.tombol-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600px;
    transition: 0.3s ease;
    cursor: pointer;
}
.tombol-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.tombol-2{
    padding: 15px 28px;
    background-color: aqua;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600px;
    transition: 0.3s ease;
    cursor: pointer;
}
.tombol-2:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}

.gambar img{
    border-radius: 50%;
    width: 250px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: aqua;
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.img-about img{
    position: relative;
    width: 250px;
    box-shadow: 0 0 25px aqua, 0 0 50px aqua;
    border-radius: 50%;
}

.isiabout h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.isiabout h3{
    font-size: 62px;
    color: white;
}
.isiabout p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}